[Unit]
Description=RSSAEM Robot ROS2 Web Interface
After=network.target

[Service]
Type=simple
User=nvidia
WorkingDirectory=/home/nvidia/rsaembot_ws
ExecStart=/home/nvidia/rsaembot_ws/rssaem_autostart.sh
Restart=on-failure
RestartSec=10
Environment="HOME=/home/nvidia"

[Install]
WantedBy=multi-user.target
